<div>
  <main>
    <div class="py-3 rounded-3">
      <div class="container-fluid mt-5 py-4 row">
        <div class="col-md-8 mb-4">
          <h1 class="display-4 fw-bold">Welcome Back! <%=data.Name%></h1>
          <p class="fs-4 fw-medium typing-text">
            It’s only after you’ve stepped outside your comfort zone that you
            begin to change, grow, and transform.
          </p>

          <div class="d-flex row gap-4 my-5">
            <a
              type="button"
              class="col-md-4 btn btn-primary btn-lg"
              href="/jobs"
            >
              Explore Jobs
            </a>
            <a
              type="button"
              class="col-md-4 btn btn-success btn-lg"
              href="/jobs/applicants"
            >
              My Applications
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="/assets/dashboard_home.png"
            class="rounded"
            alt="art"
            style="width: 30rem; height: auto"
          />
        </div>
      </div>
    </div>
  </main>
</div>
