<!-- Modal -->
<div
  class="modal fade"
  id="updatejobModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updatejobModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Job</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/jobs/updateJob/<%=data.id%>" method="post">
        <div class="modal-body" data-bs-jobId="<%=data.id%>">
          <div class="container-fluid">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Category</span>
              <select class="form-control" id="jobCategory" name="category">
                <option value="">Select Job Category</option>
                <option value="Tech">Tech</option>
                <option value="Non-Tech">Non-Tech</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                >Designation</span
              >
              <select
                class="form-control"
                id="jobDesignation"
                name="designation"
              >
                <option value="">Select Job Designation</option>
                <option value="Software Engineer">Software Engineer</option>
                <option value="Product Manager">Product Manager</option>
                <option value="Sales Representative">
                  Sales Representative
                </option>
                <option value="Financial Analyst">Financial Analyst</option>
                <option value="HR Manager">HR Manager</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                >Job Description</span
              >
              <textarea
                rows="2"
                class="form-control"
                id="jobDescription"
                name="description"
                placeholder="Enter job description"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Location</span>
              <input
                type="text"
                class="form-control"
                id="jobLocation"
                name="location"
                placeholder="Enter job location"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                >Company Name</span
              >
              <input
                type="text"
                class="form-control"
                id="companyName"
                name="companyName"
                placeholder="Enter company name"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Salary</span>
              <input
                type="text"
                class="form-control"
                id="salary"
                name="salary"
                placeholder="40k-100k"
              />
              <span class="input-group-text" id="basic-addon1">Openings</span>
              <input
                type="text"
                class="form-control"
                id="totalOpenings"
                name="openings"
                placeholder="Total openings"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Skills</span>
              <input
                type="text"
                class="form-control"
                id="skills"
                name="skills"
                placeholder="React, Redux, Express-js, ..."
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Last Date</span>
              <input
                type="date"
                class="form-control"
                id="lastDate"
                name="lastDate"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
  <script defer>
    const jobId = document
      .getElementsByClassName("modal-body")
      .item(0)
      .getAttribute("data-bs-jobId");
    console.log(jobId);
    (async function JobData() {
      const response = await fetch(`/jobs/update/${jobId}`); // Replace with your API endpoint to fetch job details

      if (response.ok) {
        // console.log(response.json());
        const data = await response.json();
        const job = data.data[0];
        console.log(job);

        // Populate modal fields with job details
        document.getElementById("jobCategory").value = job.category;
        document.getElementById("jobDesignation").value = job.designation;
        document.getElementById("jobDescription").value = job.description;
        document.getElementById("jobLocation").value = job.location;
        document.getElementById("companyName").value = job.companyName;
        document.getElementById("salary").value = job.salary;
        document.getElementById("totalOpenings").value = job.openings;
        document.getElementById("skills").value = job.skills.join(", ");
        // Assuming job.lastDate is a valid date string
        const jobDate = new Date(job.lastDate);
        const formattedDate = jobDate.toISOString().split("T")[0];

        document.getElementById("lastDate").value = formattedDate;

        // Show the modal
        //   const modal = new bootstrap.Modal(document.getElementById("jobModal"));
        //   modal.show();
      } else {
        console.error("Failed to fetch job details");
      }
    })();
  </script>
</div>
